@media(max-width: 1200px) {
    .appFeatures::after {
        opacity: 0.5;
    }

    .integration::after {
        opacity: 0.5;
    }

    .features::after {
        opacity: 0.3;
    }

    .features {
        margin-bottom: 100px;
    }

    .integration_title {
        padding-top: 100px;
    }

    .integration_content {
        padding-bottom: 100px;
    }

    .jeckpots_title {
        margin-right: 20px;
        padding-right: 20px;
    }

    .clients::after {
        opacity: 0.5;
    }

    .header_bottom_title {
        font-size: 35px;
    }
}

@media(max-width: 992px) {
    .download::after {
        opacity: 0.5;
    }

    .header {
        padding-top: 50px;
    }

    .logo {
        margin: 0 auto;
    }

    .jeckpots_title {
        margin-right: 0;
        padding-right: 0;
        border: none;
        text-align: center;
    }

    .jeckpot_top_text {
        text-align: center;
    }

    .clients::after {
        opacity: 0.3;
    }

    .header_nav_link {
        margin-right: 15px;
    }

    .header_img {
        display: none;
    }
}

@media(max-width: 768px) {
    .carousel_content {
        flex-wrap: wrap;
    }

    .carousel__controls {
        width: 100%;
    }

    .companies {
        margin-bottom: 80px;
    }

    .main {
        padding-top: 50px;
    }

    .companies_title {
        margin-bottom: 20px;
    }

    .header {
        padding-top: 20px;
    }

    .header_nav {
        padding-top: 10px;
    }

    .header_burger {
        display: block;
    }

    .logo_text {
        display: none;
    }

    .header__content_top {
        margin-bottom: 50px;
    }

    .search_icon {
        display: block;
    }

    .header_list {
        position: absolute;
        left: 200%;
        top: 100%;
    }

    .list_link_last {
        display: none;
    }

    .features_title {
        text-align: center;
    }

    .features_text {
        text-align: center;
    }

    .toggle__btn {
        padding: 20px 10px;
    }
}

@media(max-width: 576px) {
    .header_bottom_title {
        font-size: 25px;
        text-align: center;
    }

    .header_bottom_content {
        font-size: 15px;
        margin-bottom: 20px;
        text-align: center;
    }

    .click_icon {
        padding: 8px;
    }

    .header_top_text {
        max-width: 320px;
        width: 100%;
    }

    .header_clickMark_text {
        font-size: 15px;
    }

    .header_btn {
        padding: 10px 20px;
    }

    .clients_title {
        width: 100%;
        text-align: center;
        font-size: 25px;
        margin-bottom: 15px;
    }

    .clients_desc {
        width: 100%;
        font-size: 15px;
        margin-bottom: 15px;
    }

    .clients_top_text {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .clients_text {
        margin-bottom: 20px;
        font-size: 13px;
    }

    .jeckpot_img {
        margin-bottom: 15px;
    }

    .jeckpot_item {
        margin-bottom: 30px;
    }

    .jeckpots {
        margin-bottom: 60px;
    }

    .app {
        margin-bottom: 40px;
    }

    .features_item {
        margin-bottom: 20px;
    }

    .app_item_img {
        margin-bottom: 10px;
    }

    .features {
        margin-bottom: 50px;
    }

    .integration_title {
        padding-top: 30px;
    }

    .integration_content {
        padding-bottom: 30px;
    }

    .toggle_item_left {
        margin: 0;
        margin-bottom: 50px;
    }

    .toggle_item_right {
        margin: 0;
    }

    .faq_title {
        font-size: 25px;
        margin-bottom: 15px;
    }

    .faq_top_text {
        font-size: 15px;
        margin-bottom: 15px;
    }

    .download_title {
        font-size: 25px;
        text-align: center;
        margin-bottom: 20px;
        padding-top: 20px;
    }

    .download_text {
        text-align: center;
    }
}

@media(max-width: 460px) {
    .header_list {
        flex-direction: column;
        align-items: flex-start !important;
    }

    .header_burger.clicked~.header_list {
        top: 100%;

    }

    .header_list {
        position: absolute;
        left: 0;
        top: -500%;
    }

    .header_bottom.active {
        margin-top: 200px;
    }

    .header_bottom {
        transition: all 1s ease 0s;
    }

    .download_btns {
        flex-direction: column;
    }

    .googlePlay_icon {
        margin: 0;
    }

    .download_link {
        margin-bottom: 20px;
    }
}

@media(max-width:380px) {
    .toggle_item_left {
        max-width: 100%;
        /* flex: none; */
    }

    .toggle_item_right {
        max-width: 100%;
        /* flex: none; */
    }

    .carousel__item {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .carousel_img {
        margin: 0;
    }

    .carousel_desc {
        width: 100%;
        text-align: center;
    }

    .header_top_text {
        max-width: 300px;
    }

    .app_right_title {
        font-size: 15px;
    }

    .app_right_text {
        font-size: 13px;
    }

    .block {
        padding: 0;
    }

    .jeckpots_title {
        font-size: 25px;
    }

    .jeckpot_top {
        margin-bottom: 30px;
    }

    .integration_title {
        font-size: 25px;
        text-align: center;
    }

    .integration_text {
        font-size: 13px;
    }

    .integration {
        margin-bottom: 30px;
    }

    .app_title {
        font-size: 25px;
        margin-bottom: 20px;
    }

    .app_text {
        font-size: 13px;
        margin-bottom: 30px;
    }

    .app_item_text {
        font-size: 13px;
    }

    .toggle__menu {
        justify-content: space-between;
        width: max-content;
    }

    .nav-link {
        padding: 10px 20px;
    }

    .btn-block {
        font-size: 15px;
    }

    .card-body {
        font-size: 13px;
    }

    .header_clickMark_text {
        width: 100%;
    }
}